# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
*.local

# Environment
.env

# Editor and system
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
/generated/prisma
# Keep prisma schema and migrations
!prisma/
prisma/migrations/*
!prisma/migrations/.gitkeep

# Uploads (keep folder, ignore contents)
uploads/images/*
!uploads/images/.gitkeep

# Build output (keep dist!)
# DO NOT IGNORE dist — we need it for Docker
# dist/
